---
interface ButtonProps {
  size?: 'xs' | 'sm',
  variant?: 'light'
  href?: string
  type?: 'button' | 'submit' | 'reset'
}
const {
  size,
  variant,
  href,
  type = 'button'
} = Astro.props as ButtonProps
---

{
  href ? (
    <a
      href={href}
      class={`
        button
        ${size && `button--${size}`}
        ${variant && `button--${variant}`}
      `}
    >
      <slot />
    </a>
  ) : (
    <button
      type={type}
      class={`button ${size && `button--${size}`} ${variant && `button--${variant}`}`}
    >
      <slot />
    </button>
  )
}

<style scoped>
  .button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: var(--sl-spacing-x-small);
    border: .3rem solid;
    border-radius: var(--sl-spacing-x-small);
    height: var(--form-height-m);
    padding: var(--sl-spacing-x-small) var(--sl-spacing-medium);
    box-sizing: border-box;
    font-size: 2.6rem;
    text-decoration: none;
    background-color: var(--sl-color-primary-500);
    white-space: nowrap;
    color: #FFF;
    fill: #FFF;
    border-color: var(--sl-color-primary-800);
    transition: background-color .2s;
  }
  .button--light {
    border-color: currentColor
  }
  .button--sm {
    height: var(--form-height-s);
    font-size: 1.8rem;
    padding: var(--sl-spacing-x-small) var(--sl-spacing-small);
  }
  .button--xs {
    height: var(--form-height-xs);
    font-size: 1.6rem;
    padding: var(--sl-spacing-x-small) var(--sl-spacing-small);
    border-width: .2rem;
  }
  .button:hover {
    background-color: var(--sl-color-primary-400);
  }
  @media (max-width: 767px) {
    .button--sm {
      font-size: 1.5rem;
    }
  }
  </style>