---
import CardHeading from './CardHeading.astro'
type TemplateType = 'default' | 'custom'
type Spacing = 'medium' | 'large'
interface CardProps {
	title: string
	subTitle?: string
	role?: string[]
	imageSrc?: string
	isImageScrollable?: boolean
	template?: TemplateType
	gap?: Spacing
	padding?: Spacing
}

const {
	title,
	subTitle,
	role,
	imageSrc,
	isImageScrollable,
	template = 'custom',
	gap = 'large',
	padding = 'large',
} = Astro.props as CardProps
---

<div class={`card card--${template}`} style={{
	'--gap': `var(--sl-spacing-${gap})`,
	'--padding': `var(--sl-spacing-${padding})`}}
>
	{
		template === 'default' ? (
			<>
				{
					imageSrc &&
					<div class:list={[ 'card__img', {'is-scrollable': isImageScrollable} ]}>
						<img src={imageSrc} alt={title} loading="lazy">
					</div>
				}
				<div class="card__content">
					<div>
						{role && <span class="card__role">{role.join(' & ')}</span>}
						<CardHeading>{title}</CardHeading>
						{subTitle && <p class="card__subtitle">{subTitle}</p>}
					</div>
					<slot />
				</div>
			</>
		) : (
			<slot />
		)
	}
</div>

<style>
.card {
	height: 100%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	background-color: #FAFAFA;
	border-radius: 2rem;
	box-shadow: 0 .2rem .2rem .2rem rgba(0,0,0,.03);
	padding: var(--padding);
	gap: var(--gap);
}
.card__subtitle {
	margin-top: var(--sl-spacing-x-small);
}
.card__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	gap: var(--sl-spacing-medium);
}
.card__img {
	overflow: hidden;
	flex: 2;
	aspect-ratio: 16/9;
	padding: var(--sl-spacing-x-small);
	border: .5rem solid var(--sl-color-primary-200);
}
.card__img.is-scrollable {
	overflow: auto;
}
.card > p {
	flex-grow: 1;
}
.card__role {
	display: inline-block;
	text-transform: uppercase;
	font-size: var(--font-size-small);
}

@media (max-width: 980px) {
	.card {
		flex-direction: column;
		padding: var(--sl-spacing-medium);
		gap: var(--sl-spacing-medium);
	}
	.card__img {
		padding: 0;
	}
}
</style>
